<template>
    <div id="container">
        <v-theme-provider root :dark="isDark">
            <v-container>
            <v-row justify="center" class="ma-5">
                <v-col xs="12" sm="8">
                <v-card>
                    <v-toolbar :color="isDark? 'black':'white darken-4'" :dark="isDark">
                    <v-toolbar-title class="headline">Todo App</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                        <v-btn icon @click="isDark = !isDark" v-on="on">
                            <v-icon v-model="isDark">{{ !isDark ? 'mdi-weather-night' : 'mdi-weather-cloudy' }}</v-icon>
                        </v-btn>
                        </template>
                        <span>
                        {{ isDark ? 'light mode' : 'dark mode' }}
                        </span>
                    </v-tooltip>
                    </v-toolbar>

                    <v-list two-line subheader>
                    <v-btn @click="filter='ALL';reload"><b>TODAS</b></v-btn>
                    <v-btn @click="filter='ACTIVE';reload"><b>ATIVAS</b></v-btn>
                    <v-btn @click="filter='COMPLETED';reload"><b>COMPLETADAS</b></v-btn>

                    <span v-if="filter=='ACTIVE'" class="mx-8 text-right"><b>Tarefas a serem completadas.</b></span>
                    <span v-else-if="filter=='COMPLETED'" class="mx-8 text-right"><b>Tarefas que já foram completadas.</b></span>
                    <span v-else class="mx-8 text-right"><b>Mostrando todas as tarefas. </b></span>

                    <v-list-item>
                        <v-list-item-content>
                        <v-list-item-title>
                            <v-text-field v-model="form.todo_title" id="newTodo" name="newTodo"
                             label="O que você quer fazer?" @keyup.enter="todoAdded" />
                        </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <template v-bind="todos" v-for="todo in todos.data">
                      <v-divider v-if="todos.data" :key="`${todo.id}-divider`"></v-divider>
                      <TodoItem
                        :key="todo.id"
                        :todo="todo"
                        @reload='reload'
                        :filter='filter'
                        :isDark='isDark'
                      />
                  </template>
                    </v-list>
                    <v-divider v-if="todos.data"></v-divider>
                    <div><h6>OBS:Para cancelar uma edição, aperte ESC.</h6></div>
                </v-card>
                </v-col>
            </v-row>
            </v-container>
        </v-theme-provider>
    </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
import TodoItem from '../components/TodoItem'

export default {
  data: function() {
    return {
      isDark:true,
      show: true,
      form: {
        todo_title: '',
      },
      filter: 'ACTIVE'
    }
  },
  components: {
    TodoItem
  },
    created(){
      this.init();
      this.loadTodos(this.$api);
  },
  methods:{
    ...mapActions({
      init: 'INIT_APP'
    }),
      ...mapActions('todos',{
        loadTodos:'LOAD_TODOS',
        addTodo:'CREATE_TODO'
    }),
    ...mapGetters({
          getlistaTodos: 'todos/todos',
      }),
    todoAdded(){
        this.$api.post("createTodo/", this.form).then(() => {
          this.form.todo_title = '';
          this.loadTodos(this.$api);
        })
    },
    reload()
    {
      console.log('caiu no reload')
      this.loadTodos(this.$api);
    }
  },
  computed: {
    ...mapState({
      ready:"appReady"
    }),
    ...mapState('todos',{
      todos: state=> state.todos
    })
  }
}
</script>

<style>
.done {
  text-decoration: line-through;
}

</style>