<template>
  <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="black"
                dark
                flat
              >
                <v-toolbar-title>Sobre</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      :href="sourceLinkedin"
                      icon
                      large
                      target="_blank"
                      v-on="on"
                    >
                      <v-icon>mdi-account-circle-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>LinkedIn</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      :href="sourceGithub"
                      icon
                      large
                      target="_blank"
                      v-on="on"
                    >
                      <v-icon>mdi-code-tags</v-icon>
                    </v-btn>
                  </template>
                  <span>GitHub</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                  <p><b>Applicativo no estilo To-Do List proposto como desafio, desenvolvido usando Vue com Axios, Vuex, Vue-Router, etc. Back-end baseado em API desenvolvida com PHP.</b> </p>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
</template>

<script>
export default {
    data: function(){
        return {
            sourceLinkedin: 'https://www.linkedin.com/in/neto-costa-572693178/',
            sourceGithub: 'https://github.com/costa-neto'
        }
    }
}
</script>

<style>

</style>