<template>
  <v-app>
    <v-main>
      <div class="text-center">
      <router-link class="mx-2" to="/">Home</router-link>
      <router-link class="mx-2" to="/sobre">Sobre</router-link>
      </div>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
    
  },
  

  data: () => ({
    //
  }),
};
</script>
