<template>
  <v-list-item class="todo-item" v-if="checkFilters" :class="{ 'editing': editing }">
    <v-list-item-action>
      <v-btn
        :dark='isDark'
        @click="checkTodo"
        icon
        v-if="!editing && todo.todo_done!=true"
      >
      <v-icon> mdi-check-bold </v-icon>
      </v-btn>
      <v-btn
        :dark='isDark'
        @click="checkTodo"
        icon
        v-else-if="!editing && todo.todo_done==true"
      >
      <v-icon> mdi-undo-variant </v-icon>
      </v-btn>
      <v-icon
        color="primary"
        v-else
      >mdi-clipboard-edit-outline</v-icon>
    </v-list-item-action>
    <template v-if="!editing">
      <v-list-item-content
        @dblclick="editing = true"
      >
        {{ todo.todo_title }}
      </v-list-item-content>
      <v-list-item-action>
        <v-btn
          @click="delTodo"
          color="red"
          icon
        >
          <v-icon class="white--text">mdi-close</v-icon>
        </v-btn>
      </v-list-item-action>
    </template>
    <v-text-field
      :value="todo.todo_title"
      @blur="doneEdit"
      @keyup.enter="doneEdit"
      @keyup.esc="cancelEdit"
      clearable
      color="primary"
      flat
      class="inputEdit"
      hide-details
      maxlength="1023"
      ref="input"
      solo
      v-else
      v-focus="editing"
    ></v-text-field>
  </v-list-item>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  props: ['todo','filter', 'isDark'],
  data () {
    return {
      editing: false,
    }
  },
  directives: {
    focus (el, { value }, { context }) {
      if (value) {
        context.$nextTick(() => {
          context.$refs.input.focus()
        })
      }
    }
  },
  methods: {
     ...mapActions('todos',{
        deleteTodo:'DELETE_TODO',
        updateTodo:'PUT_TODO',
        toggleTodo:'COMPLETE_TODO'
    }),
    ...mapGetters({
          getTodo: 'todos/GET_TODO'
      }),
    doneEdit (e) {
      const value = e.target.value.trim()
      const { todo } = this
      if (!value) {
        this.deleteTodo({ api: this.$api, todo})
        this.editing = false;
      } else if (this.editing) {
        todo.todo_title= value;
        this.updateTodo({ api: this.$api, todo})
        this.editing = false
      }
    },
    checkTodo () {
      const { todo } = this
      console.log(todo);
      todo.todo_done == true? todo.todo_done=false : todo.todo_done=true ;
      this.$api.put("checkedTodo/"+todo.id+"/", todo).then(() => {
          this.$emit('reload')
        })
    },
    delTodo () {
      const { todo } = this
      console.log(todo);
      this.$api.delete("deleteTodo/"+todo.id+"/").then(() => {
          this.$emit('reload')
        })
    },
    cancelEdit () {
      this.editing = false
    }
  },
  computed:{
    checkFilters(){
      console.log('verificando');
      if(this.filter==='ACTIVE' && this.todo.todo_done == false)
        return true
      else if(this.filter==='COMPLETED' && this.todo.todo_done == true)
        return true
      else if(this.filter==='ALL')
        return true
      else
        return false

    }
  },
  created(){
    if(this.todo.todo_done == 1)
      this.todo.todo_done == true
    else
      this.todo.todo_done == false
    console.log(this.todo.todo_done)
  }
}
</script>

<style>
.todo-item
  .v-list__item
{
    height: auto;
    padding-top: 12px;
    padding-bottom: 12px;
} 
.editing .v-list__item{
    height: 48px;
}
</style>